.profile {
  margin: 0 auto;
  max-width: 880px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  }

  @media screen and (max-width: 767px) {
    .profile {
    flex-direction: column;
      }
  }